@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
/* Optional */
@import '@skeletonlabs/skeleton/optional/presets';
/* Themes */
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/crimson';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/mint';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/nouveau';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/reign';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/rose';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/seafoam';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/vintage';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/wintry';

@source '../../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* Set Selector dark mode strategy */
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

/* Global Styles */

html {
	scroll-behavior: smooth;
}

/* Local Utilities --- */

.flex-centered {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Homepage Gradients */
.gradient-homepage-one {
	background-size: cover;
	/* prettier-ignore */
	background-image:
		radial-gradient(at 24% 25%, color-mix(in oklab, var(--color-primary-500) 30%, transparent) 0px, transparent 30%),
		radial-gradient(at 35% 13%, color-mix(in oklab, var(--color-success-500) 18%, transparent) 0px, transparent 30%),
		radial-gradient(at 100% 64%, color-mix(in oklab, var(--color-error-500) 3%, transparent) 0px, transparent 40%);
}
.gradient-homepage-two {
	background-size: cover;
	/* prettier-ignore */
	background-image:
		radial-gradient(at 25% 40%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 35%),
		radial-gradient(at 100% 58%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 35%);
}

/* Inner Page Gradient */

[data-theme='concord'],
[data-theme='reign'],
[data-theme='terminus'],
[data-theme='vox'],

[data-theme='catppuccin'],
[data-theme='cerberus'],
[data-theme='crimson'],
[data-theme='fennec'],
[data-theme='hamlindigo'],
[data-theme='legacy'],
[data-theme='mint'],
[data-theme='modern'],
[data-theme='nouveau'],
[data-theme='mona'],
[data-theme='nosh'],
[data-theme='pine'],
[data-theme='rose'],
[data-theme='sahara'],
[data-theme='seafoam'],
[data-theme='vintage'],
[data-theme='wintry'] {
	& body {
		/* OPTIONAL: Background Mesh Gradient */
  		/* https://next.skeleton.dev/docs/design/themes#backgrounds */
		/* prettier-ignore */
		background-attachment: fixed;
		/* prettier-ignore */
		background-image:
		radial-gradient(at 0% 25%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 30%),
		radial-gradient(at 15% 06%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 30%);
	}
}

dialog,
dialog::backdrop {
  --anim-duration: 250ms;
  transition:
	display var(--anim-duration) allow-discrete,
	overlay var(--anim-duration) allow-discrete,
	opacity var(--anim-duration);
  opacity: 0;
}
/* Animate In */
dialog[open],
dialog[open]::backdrop {
  opacity: 1;
}
/* Animate Out */
@starting-style {
  dialog[open],
  dialog[open]::backdrop {
	opacity: 0;
  }
}

.react-calendar {
@apply w-full max-w-md bg-surface-100 dark:bg-surface-900 text-primary-800 
rounded-xl overflow-hidden shadow-[0_8px_30px_rgba(0,0,0,0.2)] dark:shadow-[0_8px_30px_rgba(255,255,255,0.1)]; 
}

/* Weekday names */
.react-calendar__month-view__weekdays {
@apply text-sm font-medium text-secondary-600 dark:text-secondary-300 uppercase tracking-wide;
}

/* Day numbers */
.react-calendar__tile {
@apply p-2 text-center text-base font-semibold hover:bg-secondary-100 
dark:hover:bg-secondary-700 rounded-lg transition-colors duration-300;
}


/* Navigation buttons */
.react-calendar__navigation button {
@apply text-primary-700 dark:text-primary-300 font-medium hover:text-primary-500 dark:hover:text-primary-400;
}

.react-calendar {
	width: 350px;
	max-width: 100%;
	border: 1px solid #a0a096;
	font-family: 'Arial', 'Helvetica', sans-serif;
	line-height: 1.125em;
  }
  
  .react-calendar--doubleView {
	width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  .react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
  }
  
  .react-calendar button:enabled:hover {
	cursor: pointer;
  }
  
  .react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
	min-width: 44px;
	background: none;
  }
  
  .react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
  }
  
  .react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font: inherit;
	font-size: 0.75em;
	font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font: inherit;
	font-size: 0.75em;
	font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
	color: #d10000;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth,
  .react-calendar__decade-view__years__year--neighboringDecade,
  .react-calendar__century-view__decades__decade--neighboringCentury {
	color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
	max-width: 100%;
	padding: 10px 6.6667px;
	background: none;
	text-align: center;
	font: inherit;
	font-size: 0.833em;
  }
  
  .react-calendar__tile:disabled {
	background-color: #f0f0f0;
	color: #ababab;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
	color: #cdcdcd;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
	background-color: #e6e6e6;
  }
  
  .react-calendar__tile--now {
	background: #ffff76;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
  }
  
  .react-calendar__tile--hasActive {
	background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
	background: #006edc;
	color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
	background: #1087ff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
  }
  