---
import Layout from '../layouts/Layout.astro'
import AdminReservations from '../components/AdminReservations'
---

<Layout>
  <section class="py-10">
    <AdminReservations client:load />
  </section>
</Layout>
