---
import LocationMap from '@components/LocationMap';
import BaseLayout from '../layouts/Layout.astro';
import { HiPhone, HiMail } from 'react-icons/hi';
---

<BaseLayout>
  <section class="max-w-3xl mx-auto px-4 py-10">
    <h1 class="text-3xl font-bold mb-6">Contatti</h1>

    <p class="mb-6 text-lg">
      Per informazioni, richieste o prenotazioni particolari puoi contattarci direttamente:
    </p>

    <ul class="space-y-4 text-lg">
      <li class="flex items-center gap-3">
        <HiPhone className="w-6 h-6 " />
        <a href="tel:+39 366 549 3756" class="anchor hover:underline">+39 366 549 3756</a>
      </li>
      <li class="flex items-center gap-3">
        <HiMail className="w-6 h-6" />
        <a href="mailto:vedimeglioquandosentiaps@gmail.com" class="anchor hover:underline">vedimeglioquandosentiaps@gmail.com</a>
      </li>
    </ul>

    <p class="mt-4 text-lg">Dove siamo</p>
    <div class="w-full max-w-4xl mt-2">
      <LocationMap client:only="react" />
  </div>
  </section>
</BaseLayout>
