---
import BaseLayout from "../layouts/Layout.astro";
import WelcomeHome from "@components/WelcomeHome.astro";
---

<BaseLayout>
  <div class="gradient-homepage-one h-screen">
    <section class="container mx-auto flex justify-center p-10 pt-20 pb-5">
        <WelcomeHome />
    </section>
    <section class="container mx-auto flex justify-center p-10 pt-20 pb-5">
        <article>
          <p class="mb-4 text-lg">
            <strong>SanZak</strong> offre uno spazio creativo dedicato ad artisti
            e musicisti, pensato per creare e registrare contenuti in libertà.
          </p>

          <p class="mb-4 text-lg">
            La sala è disponibile su prenotazione al costo di <strong
              >25€ per 3 ore di utilizzo</strong
            >. La prenotazione è obbligatoria e il pagamento avviene
            direttamente in loco, al termine dell’utilizzo.
          </p>

          <p class="mb-4 text-lg">
            Questo spazio è frutto del lavoro e della dedizione dei membri
            dell’associazione <em>"Vedi meglio quando senti"</em>, che si
            impegna a promuovere la cultura e la libera espressione.
          </p>

          <p class="mt-6 italic text-secondary-500">
            Porta rispetto per lo spazio e per chi lo condivide con te: <strong
              >lascialo come l’hai trovato</strong
            >.
          </p>
        </article>
    </section>
  </div>
</BaseLayout>
