---
import Layout from '../layouts/Layout.astro'
import AuthForm from '../components/AuthForm'
---

<Layout>
  <section>
    <div class="flex justify-center h-screen items-center p-4">
        <AuthForm loginOnly={false} client:load />
    </div>
  </section>
</Layout>
