---
import LayoutRoot from "@layouts/LayoutRoot.astro";
import Header from "@components/basic/Header.astro";
import Footer from "@components/basic/Footer.astro";

---

<LayoutRoot>
	<Header></Header>
	<main class="">
		<slot></slot>
	</main>
	<!-- <Footer /> -->
</LayoutRoot>
